<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SudokuSolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SudokuSolver.Properties.Settings>
            <setting name="AffectedCellColor" serializeAs="String">
                <value>255, 253, 210</value>
            </setting>
            <setting name="RelationCellColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
        </SudokuSolver.Properties.Settings>
    </applicationSettings>
</configuration>